<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <title>XINXIANJIUCAI</title>
    <!-- <link rel="stylesheet" href="../static/css/normalize.css"> -->
    <!-- <link rel="stylesheet" href="../static/css/select.css"> -->

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6/dist/vue.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        .demo-table-expand {
          font-size: 0;
        }
        .demo-table-expand label {
          width: 90px;
          color: #99a9bf;
        }
        .demo-table-expand .el-form-item {
          margin-right: 0;
          margin-bottom: 0;
          width: 50%;
        }
    </style>
</head>
<body>
    <div id="app">
        <el-page-header content="{{select_time}}"></el-page-header>
        <el-table :data="tableData" style="width: 100%" @row-click="goInfo">
            <el-table-column type="expand">
            <template slot-scope="props">
                {% raw %}
                <el-form label-position="left" inline class="demo-table-expand">
                <el-form-item label="现价">
                    <span>{{ props.row.price }}</span>
                </el-form-item>
                <el-form-item label="涨跌">
                    <span>{{ props.row.change }}</span>
                </el-form-item>
                <el-form-item label="百分比">
                    <span>{{ props.row.percent }}</span>
                </el-form-item>
                </el-form>
                {% endraw %}
            </template>
            </el-table-column>
            <el-table-column type="index" label="序号" width="70"></el-table-column>
            <el-table-column prop="code" label="代码" width="100"></el-table-column>
            <el-table-column prop="name" label="简称" width="110"></el-table-column>
            <el-table-column prop="recommend" label="推荐价格" width="90"></el-table-column>
        </el-table>
    </div>
</body>
<script>
    var stock_list = JSON.parse('{{stock_list|safe}}');
    new Vue({
        el: '#app',
        data() {
            return {
                tableData: stock_list
            }
        },
        methods: {
            goInfo(row) {
                console.log(row["code"]);
                window.location.href="/mf/" + row["code"];
            }
        }
    });
</script>
</html>